body{
    margin: 0;
    padding: 0;
    background-color: rgba(235, 231, 231, 0.979);
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.logo{
    float: left;
    color: blue;
    text-decoration: none;

}
.floatr{
    float: right;
}
 nav>ul>li> a{
   font-size: 12px;
   text-decoration: none;
   color: #b7b7b7;
   border: 2px transparent solid;
   font-weight: bold;
   padding-top: 5px;
   padding-bottom: 5PX;
   display: block;
}
nav>ul>li>a:hover{
    border-bottom: 2px #e66 solid;
}
ul{
    margin: 0;
    padding: 0;
}
nav>ul>li{
    list-style: none;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.clearfloat::after{
    content:  "";
    display: block;
    clear:both
}
.topnav{
    width: 100%;
    position: fixed;
    font-size: 24px;
    font-family: "微软雅黑";
    padding: 20px 0px 12px 0px;
}
.topnav-inner{
    padding-right: 16px;
    padding-left: 16px;
}
.topnav .logo .rs{
color: #e66;
font-weight: 700;
}
.topnav .logo .card{
color: #ccc;
}
.banner{
    height: 680px;
    background-image:url(../imges/wallhaven-1.png);
    background-position: center center;
    
}
.banner .mask{
    background:rgba(0,0,0,0.7) ;
    height: 680px;
}
.usercard{

    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.3);
}
.usercard .welcome{
    background-color: #e66;
    color: #fff;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    top: 4px;
}
.triangle{
    display: block;
    border: transparent 10px solid;
    border-top-width: 0px;
    border-left-color: #e66;
    position: absolute;
    width: 0px;
    left: 4px;
    top: 100%;
}
.usercard img{
    height: 330px;
}
.usercard .picture{
    float: left;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.usercard .text h1{
    margin-top: 18px;
    
}
.text hr{
    margin:18px 0;

}
.usercard .picturePad{
    padding: 50px;
}
.usercard dl dt,
.usercard dl dd{
    float: left;
    padding: 7px 0;
    
}
.usercard dl dt{
    width: 30%;
    font-weight: bold;
}
.usercard dl dd{
    width: 58%;
    color: #ccc;
}

.usercard .media{
    background-color: #e66;
    text-align: center;
}
.media>a{
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    margin: 16px;
}.media>a:hover{
    background-color: #55bbff;
}
.media svg{
    width: 30px ;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}
.msin-m{
margin-top: -300px;
}
.downloadwrapper{
    text-align: center;
}
.downloadwrapper a{
    display: inline-block;
    line-height: 15px;
    padding: 20px 60px;
    border:1px solid #b7b7b7;
    margin: 45px 0;
    text-decoration: none;
    border-radius: 4px;
    color: #3d4451;
}
.downloadwrapper >a:hover {
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
}
.selfM{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.skills ,.portfolio{
    max-width: 940px;
    margin: 60px auto;
}
.skills h2,
.portfolio h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
}
.skills ol{
    max-width: 940px;
    border: #ccc 1px solid;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
    padding: 42px 50px;
    margin-top: 30px;
}

.skills > ol>li{
float: left;
list-style: none;
width: 48%;
}
.skills > ol>li:nth-child(even){
    float:right;
}
.skills .skillsBar{
    height: 6px;
    background-color: rgb(252, 182, 182);
    border-radius: 2px;
    margin: 15px 0;
}
 .skillsColor{
    height: 6px;
    border-radius: 2px;
    background-color: #e66;
}
.SCa{
    width: 80%;
}
.SCb{
    width: 82%;
}
.SCc{
    width: 85%;
}
.SCd{
    width: 40%;
}
.SCe{
    width: 90%;
}
.SCf{
    width: 65%;
}
.portfolio{
    text-align: center;

}
.portfolio nav{
    display: inline-block;
    vertical-align: top;
}
.portfolio nav ul{
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
.portfolio nav ul li{
    margin-left: 50px;
    margin-right: 0;
    cursor: pointer;
}
.portfolio nav ul li:first-child{
    margin-left: 0;
}
.portfolio .bar{
    background-color: #fff;
    height: 5px;
    margin-top: 6px;
    margin-bottom: 100x;
    border-radius: 2px;
}
.portfolio .bar>.inner{
    background-color: #e66;
    height: 100%;
    border-radius: 2px;
}
.portfolio  .start .inner{
    width: 15%;
}
.portfolio  .start1 .inner{
    width: 20%;
    margin-left: 75px;
}
.portfolio  .start2 .inner{
    width: 35%;
    margin-left: 158px;
}

