body{
    background-color: brown;
    margin: 0;
    padding: 0;
}
.logo{
    float: left;
    color: blue;
    text-decoration: none;
}
.floatr{
    float: right;
}
 nav>ul>li> a{
   font-size: 12px;
   text-decoration: none;
   color: #b7b7b7;
   border: 2px transparent solid;
   font-weight: bold;
   padding-top: 5px;
   padding-bottom: 5PX;
   display: block;
}
nav>ul>li>a:hover{
    border-bottom: 2px #e66 solid;
}
ul{
    margin: 0;
    padding: 0;
}
nav>ul>li{
    list-style: none;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.clearfloat::after{
    content:  "";
    display: block;
    clear:both
}
.topnav{
    width: 100%;
    position: fixed;
    font-size: 24px;
    font-family: "Arial Black";
    padding: 20px 0px 12px 0px;
}
.topnav-inner{
    padding-right: 16px;
    padding-left: 16px;
}
.topnav .logo .rs{
color: #e66;

}
.topnav .logo .card{
color: #ccc;
}
.banner{
    width: 1920px;
    background-image:url(../imges/wallhaven-5.jpg);
    
}
.banner .mask{
    background:rgba(0,0,0,.5) ;
}
